body {
    background-color: rgb(40, 40, 40);
    padding: 50px;
}

.concertio-fa-background {
    color: #FFF;
}

.concertio-logo {
    padding: 5% 5% 5% 5%;
    text-align: center;
    margin: 0 auto;
    display: table;
}

.concertio-logo > span {
    color: rgb(47, 213, 102);
    background-color: rgb(47, 213, 102);
    border-radius: 500px;
}

.concertio-logo > h1 {
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #FFF;
}

.concertio-h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #FFF;
    text-align: center;
}

.concertio-h2 {
    font-family: "Montserrat", sans-serif;
    color: rgb(160, 160, 160);
    text-align: center;
    font-size: 30px;
}

.concertio-highlight {
    color: rgb(47, 213, 102);
}

.concertio-button {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px !important;
    font-weight: light !important;
    padding: 1.5% 7.5% 1.5% 7.5%;
    margin: 0 auto;
}

.concertio-search-bar {
    font-family: FontAwesome, "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    height: auto;
    padding: 4%;
}

.concertio-message {
    color: #FFF;
    font-size: 18px;
    margin: 0 auto;
    padding-bottom: 1%;
    color: rgb(160, 160, 160);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}

.concertio-container {
    margin: 0 auto;
    width: 80%;
    padding: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(50, 50, 50);
}

.concertio-image {
    border-radius: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.concertio-image-no-circle {
    border-radius: 5%;
    height: auto;
    padding: 0px;
    margin: 0 auto;
    width: 50%;
}

.concertio-description {
    font-family: "Montserrat";
    color: rgb(160, 160, 160);
    padding-left: 5%;
}

.concertio-link {
    font-family: "Montserrat";
    color: #FFF;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.concertio-error {
    color: #BD3200;
}

.concertio-footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(30, 30, 30);
}

.concertio-columns {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

/* Here be where I overwrite default foundation things. */
.button.success {
    background-color: rgb(55, 187, 93);
}

.button.success:hover {
    transition: 0.3s background-color;
    background-color: rgb(47, 213, 102);
}

/* couldn't find this in foundation even though it's in the docs? */
.round {
    border-radius: 1000px;
}


